{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        <label for="classroom">Classroom:</label>

        <select name="classroom" id="classroom">
            <option value="">--Please choose an option--</option>
            {% for class in classroom %}
                <option value={{ class.id }}>{{ class.level }} - {{ class.specialization }}</option>
            {% endfor %}
        </select>

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
